<div th:replace="fragments/header"></div>

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Container-->
    <div class="container" id="kt_content_container">

        <div th:unless="${successMessage} == null" class="alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="${successMessage}">Successfully done !</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div th:unless="${errorMessage} == null" class="alert alert-danger alert-dismissible fade show" role="alert">
            <span th:text="${errorMessage}">Something be wrong !</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="card card-xxl-stretch">
            <!--begin::Card body-->
            <div class="card-body d-flex flex-column justify-content-between h-100">
                <form method="post" class="form col-lg-9 p-5 mx-auto" th:action="@{/cards/add}" th:object="${cardDTO}">

                    <!--begin::Input group-->
                    <div class="d-flex flex-column mb-7 fv-row">
                        <!--begin::Label-->
                        <label class="d-flex align-items-center fs-6 fw-bold form-label mb-2">
                            <span class="required">Account Number</span>
                        </label>
                        <!--end::Label-->

                        <input type="text" class="form-control"
                            th:classappend="${#fields.hasErrors('accountNumber')} ? 'is-invalid'"
                            placeholder="Account number" th:field="*{accountNumber}" />
                        <div class="invalid-feedback" th:errors="*{accountNumber}"></div>
                    </div>
                    <!--end::Input group-->

                    <!--begin::Input group-->
                    <div class="d-flex flex-column mb-7 fv-row">
                        <!--begin::Label-->
                        <label class="required fs-6 fw-bold form-label mb-2">Name On Card</label>
                        <!--end::Label-->

                        <input type="text" class="form-control"
                            th:classappend="${#fields.hasErrors('cardName')} ? 'is-invalid'" placeholder="Card name"
                            th:field="*{cardName}" />
                        <div class="invalid-feedback" th:errors="*{cardName}"></div>
                    </div>
                    <!--end::Input group-->

                    <!--begin::Input group-->
                    <div class="d-flex flex-column mb-7 fv-row">
                        <!--begin::Label-->
                        <label class="required fs-6 fw-bold form-label mb-2">Card Type</label>
                        <!--end::Label-->

                        <select th:field="*{cardType}" class="form-select"
                            th:classappend="${#fields.hasErrors('cardType')} ? 'is-invalid'" data-control="select2"
                            data-hide-search="true" data-placeholder="Card type">
                            <option value=""></option>
                            <option value="Visa">Visa</option>
                            <option value="Mastercard">Mastercard</option>
                        </select>
                        <div class="invalid-feedback" th:errors="*{cardType}"></div>
                    </div>
                    <!--end::Input group-->

                    <!--begin::Input group-->
                    <div class="d-flex flex-column mb-7 fv-row">
                        <!--begin::Label-->
                        <label class="required fs-6 fw-bold form-label mb-2">Card Number</label>
                        <!--end::Label-->

                        <!--begin::Input wrapper-->
                        <div class="position-relative">
                            <!--begin::Input-->
                            <input type="text" class="form-control"
                                th:classappend="${#fields.hasErrors('cardNumber')} ? 'is-invalid'"
                                placeholder="4111 1111 1111 1111" th:field="*{cardNumber}" />
                            <div class="invalid-feedback" th:errors="*{cardNumber}"></div>
                            <!--end::Input-->

                            <!--begin::Card logos-->
                            <div class="position-absolute translate-middle-y top-50 end-0 me-5">
                                <img th:src="@{/img/svg/card-logos/visa.svg}" alt="" class="h-25px" />
                                <img th:src="@{/img/svg/card-logos/mastercard.svg}" alt="" class="h-25px" />
                            </div>
                            <!--end::Card logos-->
                        </div>
                        <!--end::Input wrapper-->
                    </div>
                    <!--end::Input group-->

                    <!--begin::Input group-->
                    <div class="row mb-10">
                        <!--begin::Col-->
                        <div class="col-md-8 fv-row">
                            <!--begin::Label-->
                            <label class="required fs-6 fw-bold form-label mb-2">Expiration Date</label>
                            <!--end::Label-->

                            <!--begin::Row-->
                            <div class="row fv-row">
                                <!--begin::Col-->
                                <div class="col-6">
                                    <select name="cardExpiryMonth" class="form-select" data-control="select2"
                                        data-hide-search="true" data-placeholder="Month">
                                        <option value=""></option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                                <!--end::Col-->

                                <!--begin::Col-->
                                <div class="col-6">
                                    <select name="cardExpiryYear" class="form-select" data-control="select2"
                                        data-hide-search="true" data-placeholder="Year">
                                        <option value=""></option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                        <option value="2026">2026</option>
                                        <option value="2027">2027</option>
                                        <option value="2028">2028</option>
                                        <option value="2029">2029</option>
                                        <option value="2030">2030</option>
                                        <option value="2031">2031</option>
                                        <option value="2032">2032</option>
                                        <option value="2033">2033</option>
                                    </select>
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Row-->
                        </div>
                        <!--end::Col-->

                        <!--begin::Col-->
                        <div class="col-md-4 fv-row">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-bold form-label mb-2">
                                <span class="required">CVC</span>
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip"
                                    title="Enter a card CVC code"></i>
                            </label>
                            <!--end::Label-->

                            <!--begin::Input wrapper-->
                            <div class="position-relative">
                                <!--begin::Input-->
                                <input type="number" class="form-control"
                                    th:classappend="${#fields.hasErrors('cvc')} ? 'is-invalid'" minlength="3"
                                    maxlength="4" placeholder="CVC" th:field="*{cvc}" />
                                <div class="invalid-feedback" th:errors="*{cvc}"></div>
                                <!--end::Input-->

                                <!--begin::CVV icon-->
                                <div class="position-absolute translate-middle-y top-50 end-0 me-3">
                                    <!--begin::Svg Icon | path: icons/duotune/finance/fin002.svg-->
                                    <span class="svg-icon svg-icon-2hx">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none">
                                            <path d="M22 7H2V11H22V7Z" fill="currentColor" />
                                            <path opacity="0.3"
                                                d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19ZM14 14C14 13.4 13.6 13 13 13H5C4.4 13 4 13.4 4 14C4 14.6 4.4 15 5 15H13C13.6 15 14 14.6 14 14ZM16 15.5C16 16.3 16.7 17 17.5 17H18.5C19.3 17 20 16.3 20 15.5C20 14.7 19.3 14 18.5 14H17.5C16.7 14 16 14.7 16 15.5Z"
                                                fill="currentColor" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </div>
                                <!--end::CVV icon-->
                            </div>
                            <!--end::Input wrapper-->
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Input group-->


                    <!--begin::Actions-->
                    <div class="pt-7">
                        <button type="submit" id="kt_modal_new_card_submit" class="btn btn-primary">
                            <span class="indicator-label">
                                Save Card
                            </span>
                            </span>
                        </button>
                    </div>
                    <!--end::Actions-->
                </form>
            </div>
            <!--end::Card body-->
        </div>

    </div>
    <!--end::Container-->
</div>
<!--end::Content-->

<div th:replace="fragments/footer"></div>