<div th:replace="~{fragments/header}"></div>

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Container-->
    <div class="container" id="kt_content_container">

        <div th:unless="${successMessage} == null" class="alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="${successMessage}">Successfully done !</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div th:unless="${errorMessage} == null" class="alert alert-danger alert-dismissible fade show" role="alert">
            <span th:text="${errorMessage}">Something be wrong !</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        
        <!--begin::Engage Widget 1-->
        <div class="card card-xxl-stretch">
            <!--begin::Card body-->
            <div class="card-body d-flex flex-column justify-content-between h-100">

                <!--begin::Section-->
                <div class="row mb-7">
                    <!--begin::Left column-->
                    <div class="col-lg-7">

                        <!--begin::Row-->
                        <div class="row mb-4">
                            <!--begin::Label-->
                            <label class="col-lg-3 fw-bold text-muted">Batch ID :</label>
                            <!--end::Label-->

                            <!--begin::Col-->
                            <div class="col-lg-auto">
                                <span th:text="${transaction.transactionId}"
                                    class="fw-bolder fs-6 text-gray-800">16045</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->

                        <!--begin::Row-->
                        <div class="row mb-4">
                            <!--begin::Label-->
                            <label class="col-lg-3 fw-bold text-muted">Transaction Type :</label>
                            <!--end::Label-->

                            <!--begin::Col-->
                            <div class="col-lg-auto">
                                <span th:text="${transaction.transactionType}"
                                    class="fw-bolder fs-6 text-gray-800">Deposit</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->

                        <!--begin::Row-->
                        <div class="row mb-4">
                            <!--begin::Label-->
                            <label class="col-lg-3 fw-bold text-muted">Account Name :</label>
                            <!--end::Label-->

                            <!--begin::Col-->
                            <div class="col-lg-auto">
                                <span th:text="${transaction.accountName}" class="fw-bolder fs-6 text-gray-800">John
                                    Doe</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->

                        <!--begin::Row-->
                        <div class="row mb-4">
                            <!--begin::Label-->
                            <label class="col-lg-3 fw-bold text-muted">Account Number :</label>
                            <!--end::Label-->

                            <!--begin::Col-->
                            <div class="col-lg-auto">
                                <span th:text="${transaction.accountNumber}"
                                    class="fw-bolder fs-6 text-gray-800">0071001997</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->

                        <!--begin::Row-->
                        <div class="row mb-4">
                            <!--begin::Label-->
                            <label class="col-lg-3 fw-bold text-muted">Amount :</label>
                            <!--end::Label-->

                            <!--begin::Col-->
                            <div class="col-lg-auto">
                                <span th:text="${transaction.amount + ' ' + transaction.currency}"
                                    class="fw-bolder fs-6 text-gray-800">600 000 KMF</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->

                        <!--begin::Row-->
                        <div class="row mb-4">
                            <!--begin::Label-->
                            <label class="col-lg-3 fw-bold text-muted">Currency :</label>
                            <!--end::Label-->

                            <!--begin::Col-->
                            <div class="col-lg-auto">
                                <span th:text="${transaction.currency}" class="fw-bolder fs-6 text-gray-800">KMF</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->

                        <!--begin::Row-->
                        <div class="row mb-4">
                            <!--begin::Label-->
                            <label class="col-lg-3 fw-bold text-muted">Transaction method :</label>
                            <!--end::Label-->

                            <!--begin::Col-->
                            <div class="col-lg-auto">
                                <img th:unless="${transaction.sourceType} == 'Online'"
                                    th:src="${transaction.sourceType} == 'Visa' ? '/img/svg/card-logos/visa.svg' : '/img/svg/card-logos/mastercard.svg'"
                                    class="w-35px me-3" alt="" />
                                <span th:text="${transaction.sourceValue}" class="fw-bolder fs-6 text-gray-800">****
                                    3840</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->

                        <!--begin::Row-->
                        <div class="row mb-4">
                            <!--begin::Label-->
                            <label class="col-lg-3 fw-bold text-muted">Description :</label>
                            <!--end::Label-->

                            <!--begin::Col-->
                            <div class="col-lg-auto">
                                <span th:text="${transaction.reason}" class="fw-bolder fs-6 text-gray-800">Family
                                    Assistence</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->

                        <!--begin::Row-->
                        <div class="row mb-4">
                            <!--begin::Label-->
                            <label class="col-lg-3 fw-bold text-muted">Status :</label>
                            <!--end::Label-->

                            <!--begin::Col-->
                            <div class="col-lg-auto">
                                <div th:text="${transaction.status}" class="badge"
                                    th:classappend="${transaction.status} == 'Approved' ? 'badge-success' : (${transaction.status} == 'Pending' ? 'badge-warning' : 'badge-danger')">
                                    Pending</div>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->

                    </div>
                    <!--end::Left column-->

                    <!--begin::Right column-->
                    <div class="col-lg-5">

                        <!--begin::Row-->
                        <div class="row mb-4">
                            <!--begin::Label-->
                            <label class="col-lg-3 fw-bold text-muted">Customer :</label>
                            <!--end::Label-->

                            <!--begin::Col-->
                            <div class="col-lg-auto">
                                <span th:text="${transaction.customerFullName}"
                                    class="fw-bolder fs-6 text-gray-800">Mark Smith</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->

                        <!--begin::Row-->
                        <div class="row mb-4">
                            <!--begin::Label-->
                            <label class="col-lg-3 fw-bold text-muted">Customer CIN :</label>
                            <!--end::Label-->

                            <!--begin::Col-->
                            <div class="col-lg-auto">
                                <span th:text="${transaction.customerIdentity}"
                                    class="fw-bolder fs-6 text-gray-800">NBE4576</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->

                        <!--begin::Row-->
                        <div class="row mb-4">
                            <!--begin::Label-->
                            <label class="col-lg-3 fw-bold text-muted">Initiated by :</label>
                            <!--end::Label-->

                            <!--begin::Col-->
                            <div class="col-lg-auto">
                                <span th:text="${transaction.initiatedBy}" class="fw-bolder fs-6 text-gray-800">Mark
                                    Smith</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->

                        <!--begin::Row-->
                        <div class="row mb-4">
                            <!--begin::Label-->
                            <label class="col-lg-3 fw-bold text-muted">Initiated at :</label>
                            <!--end::Label-->

                            <!--begin::Col-->
                            <div class="col-lg-auto">
                                <span th:text="${#temporals.format(transaction.createdAt, 'yyyy-MM-dd HH:mm')}"
                                    class="fw-bolder fs-6 text-gray-800">23/09/2023 10:25</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->

                        <!--begin::Row-->
                        <div class="row mb-4">
                            <!--begin::Label-->
                            <label class="col-lg-3 fw-bold text-muted">Updated by :</label>
                            <!--end::Label-->

                            <!--begin::Col-->
                            <div class="col-lg-auto">
                                <span th:text="${transaction.updatedBy}" class="fw-bolder fs-6 text-gray-800">Sarah
                                    Hunt</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->

                        <!--begin::Row-->
                        <div class="row mb-4">
                            <!--begin::Label-->
                            <label class="col-lg-3 fw-bold text-muted">Updated at :</label>
                            <!--end::Label-->

                            <!--begin::Col-->
                            <div class="col-lg-auto">
                                <span th:text="${#temporals.format(transaction.updatedAt, 'yyyy-MM-dd HH:mm')}"
                                    class="fw-bolder fs-6 text-gray-800">23/09/2023 11:25</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->

                        <!--begin::Row-->
                        <div th:unless="${transaction.status} != 'Failed'" class="row mb-4">
                            <!--begin::Label-->
                            <label class="col-lg-3 fw-bold text-muted">Failed reason :</label>
                            <!--end::Label-->

                            <!--begin::Col-->
                            <div class="col-lg-auto">
                                <span th:text="${transaction.failureReason}" class="fw-bolder fs-6 text-gray-800">Amount
                                    incorrect</span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->

                        <div class="separator separator-dashed mb-5"></div>

                        <div th:unless="${transaction.status} != 'Pending'">
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#kt_modal_reject_operation">
                                Reject
                            </button>
                            <a th:href="@{/transactions/approve/{id}(id=${transaction.transactionId})}"
                                class="btn btn-primary">Approve</a>
                        </div>

                    </div>
                    <!--end::Right column-->
                </div>
                <!--end::Section-->

            </div>
            <!--end::Card body-->
        </div>
        <!--end::Engage Widget 1-->
    </div>
    <!--end::Container-->
</div>

<!--begin::Modals-->
<div class="modal fade" id="kt_modal_reject_operation" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header">
                <!--begin::Modal title-->
                <h2>Reject Transaction</h2>
                <!--end::Modal title-->

                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
                                transform="rotate(-45 6 17.3137)" fill="currentColor" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)"
                                fill="currentColor" />
                        </svg></span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Close-->
            </div>
            <!--end::Modal header-->

            <!--begin::Modal body-->
            <div class="modal-body scroll-y mx-5 my-7">
                <!--begin::Form-->
                <form method="post" class="form"
                    th:action="@{/transactions/reject/{id}(id=${transaction.transactionId})}">

                    <!--begin::Input group-->
                    <div class="mx-5">

                        <div class="mb-4 fv-row">
                            <label class="required form-label">Reason</label>
                            <textarea name="rejectReason" class="form-control" rows="3"></textarea>
                        </div>

                    </div>
                    <!--end::Input group-->

                    <!--begin::Actions-->
                    <div class="text-center pt-15">
                        <button type="button" class="btn btn-light me-3" data-bs-dismiss="modal">
                            Discard
                        </button>

                        <button type="submit" class="btn btn-primary">
                            <span class="indicator-label">
                                Submit
                            </span>
                        </button>
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>
<!--end::Modals-->

<!--end::Content-->

<div th:replace="~{fragments/footer}"></div>